<%- include("partials/header.ejs") %>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Upload Recipes</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
        <form action="/cookbook" method="POST">
            <input name="name" type="text" class="feedback-input" placeholder="Name" />
            <input name="cuisine" type="text" class="feedback-input" placeholder="Cuisine" />
            <input name="meal" type="text" class="feedback-input" placeholder="Meal Type" />
            <textarea name="recipe" rows="4" cols="50" class="feedback-input" placeholder="Full Recipe"></textarea>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </p>
    </div>
</div>
</body>

<%- include("partials/footer.ejs") %>
